header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
  padding: 0 20px;
  color: black;
  background-color: white;
}
li:hover{
  color: blue;
}

.menu {
  display: flex;
  list-style: none;
}

.item-menu {
  margin: 0 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
